.pages-what-sets
  Loader(v-if='loading')
  Header
  .inner-page(v-if="props")
   .subnav
     ul
       li
         router-link(to='/meet-dr-kevin-oliveira') Meet Dr. Kevin Oliveira
       li
         router-link(to='/meet-the-team') Meet the Team
       li
         router-link(to='/what-sets-us-apart') What Sets Us Apart
   .main-content
     .container
       .left-area
         H1.title(v-html='props.title.rendered')
         .content(v-html='props.content.rendered')
       .featured-img
         figure(v-if="props.better_featured_image")
           img(:src='props.better_featured_image.source_url')
  Footer
