.styleguide
  h1 Styleguide
  
  h2 Headers
  
  h1 "H1"
  h2 "H2"
  h3 "H3"
  h4 "H4"
  p "P"

  h2 Buttons
  h2 Modular Code
  h2 Menu's 
  
  p 
    | Notes: 
    br
    |  &:hover
    br
    |    -webkit-text-stroke-color: $black
    br
    |    -webkit-text-stroke-width: 1px
