footer.footer
  a#backtotop(onclick='scrollToTop();return false')
    img(src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/back-to-top.png')
  .footer-top
    .container
      .location
        a(href='/wareham-office-location')
          .map-img
            img.shift(src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/map-1.png')
          .map-address
            p.phone (774) 678-0569
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2421 Cranberry Highway, Suite 316
            br
            |                             Wareham, MA 02571
      .working_hours
        .working_hours__title Working Hours:
        .working_hours__list
          table
            tr
              th Tuesday
              td 9:30 AM - 6 PM
            tr
              th Wednesday
              td 9 AM - 5 PM
            tr
              th Thursday
              td 9:30 AM - 6 PM
            tr
              th Friday
              td Closed
            tr
              th Saturday
              td Closed                        
            tr
              th Sunday
              td Closed
            tr
              th Monday
              td 9 AM - 5 PM
            tr
              th (Patriot's Day)
              td.working_hours__differ Hours might differ                                                        

      .foot-logo
        a(href='/invisalign-info')
          img.shift(alt='invisalign' src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/invisalign.png')
        a(href='https://www.mylifemysmile.org/' target='_blank')
          img.shift(alt='aao' src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/aao.png')
        a(href='https://www.ada.org/' target='_blank')
          img.shift(alt='ada' src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/ada.png')
  .footer-bottom
    .container
      .footer-menu
        h5 Browse
        ul
          li
            a(href='/') Home
          li
            a(href='/meet-dr-kevin-oliveira') About Us
          li
            a(href='/office-visits') For New Patients
          li
            a(href='/about-orthodontics') Wearing Braces
          li
            a(href='/common-treatments') Treatments
          li
            a(href='/invisalign-info') Invisalign
          li
            a(href='/wareham-office-location') Contact Us
          li
            a(href='https://patient.sesamecommunications.com/koliveira/index.html'  target='_blank') Patient Login
          li
            a(href='/sitemap') Site Map
          li
            a(href='/privacy-policy') Privacy Policy
      .footer-social
        h5 Connect
        ul.social-icon
          li
            a(href='https://www.facebook.com/CoastalBraces' target='_blank')
              img.shift(src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/facebook.png' alt='Facebook')
          li
            a(href='https://plus.google.com/u/0/103429814957908300625/about' target='_blank')
              img.shift(src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/google-plus.png' alt='Google Plus')
          li
            a(href='https://www.linkedin.com/company/coastal-orthodontics' target='_blank')
              img.shift(src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/linkedin.png' alt='Linked In')
          li
            a(href='https://www.youtube.com/watch?v=a8kk0aeUw90' target='_blank')
              img.shift(src='https://www.coastal-orthodontics.com/wp-content/uploads/2019/03/youtube.png' alt='YouTube')
